@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

:root {
  --text-black: #333332;
  --primary-color: #FAF4E5;
  --primary-pink: #e5a1aa;
}

/* Experience ----------------------------------- */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Page Itself ---------------------------------- */
.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Section Formatting ---------------------------------- */
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--primary-color);
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}


/* Hero section ---------------------------------- */
.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 600px;
}

.hero-main {
  position: absolute;
  bottom: 168px;
  left: 0;
}

.hero-second {
  position: absolute;
  top: calc(40% - 120px);
  right: 0;
}

.hero-main-title {
  font-size: 32px;
}

.hero-main-description {
  font-size: 12px;
}

.hero-second-subheading {
  font-size: 14px;
  text-transform: uppercase;
}
